/****************************************/
/* Margins                              */
/****************************************/
.m-05 {
  margin: var(--size-05);
}
.m-10 {
  margin: var(--size-10);
}
.m-15 {
  margin: var(--size-15);
}
.m-20 {
  margin: var(--size-20);
}
.m-25 {
  margin: var(--size-25);
}
.m-30 {
  margin: var(--size-30);
}
.m-35 {
  margin: var(--size-35);
}
.m-40 {
  margin: var(--size-40);
}
.m-45 {
  margin: var(--size-45);
}
.m-50 {
  margin: var(--size-50);
}
.m-55 {
  margin: var(--size-55);
}
.m-60 {
  margin: var(--size-60);
}
.m-65 {
  margin: var(--size-65);
}
.m-70 {
  margin: var(--size-70);
}
.m-75 {
  margin: var(--size-75);
}
.m-80 {
  margin: var(--size-80);
}
.m-85 {
  margin: var(--size-85);
}
.m-90 {
  margin: var(--size-90);
}
.m-95 {
  margin: var(--size-95);
}
.m-100 {
  margin: var(--size-100);
}

.mt-05 {
  margin-top: var(--size-05);
}
.mt-10 {
  margin-top: var(--size-10);
}
.mt-15 {
  margin-top: var(--size-15);
}
.mt-20 {
  margin-top: var(--size-20);
}
.mt-25 {
  margin-top: var(--size-25);
}
.mt-30 {
  margin-top: var(--size-30);
}
.mt-35 {
  margin-top: var(--size-35);
}
.mt-40 {
  margin-top: var(--size-40);
}
.mt-45 {
  margin-top: var(--size-45);
}
.mt-50 {
  margin-top: var(--size-50);
}
.mt-55 {
  margin-top: var(--size-55);
}
.mt-60 {
  margin-top: var(--size-60);
}
.mt-65 {
  margin-top: var(--size-65);
}
.mt-70 {
  margin-top: var(--size-70);
}
.mt-75 {
  margin-top: var(--size-75);
}
.mt-80 {
  margin-top: var(--size-80);
}
.mt-85 {
  margin-top: var(--size-85);
}
.mt-90 {
  margin-top: var(--size-90);
}
.mt-95 {
  margin-top: var(--size-95);
}
.mt-100 {
  margin-top: var(--size-100);
}

.mb-05 {
  margin-bottom: var(--size-05);
}
.mb-10 {
  margin-bottom: var(--size-10);
}
.mb-15 {
  margin-bottom: var(--size-15);
}
.mb-20 {
  margin-bottom: var(--size-20);
}
.mb-25 {
  margin-bottom: var(--size-25);
}
.mb-30 {
  margin-bottom: var(--size-30);
}
.mb-35 {
  margin-bottom: var(--size-35);
}
.mb-40 {
  margin-bottom: var(--size-40);
}
.mb-45 {
  margin-bottom: var(--size-45);
}
.mb-50 {
  margin-bottom: var(--size-50);
}
.mb-55 {
  margin-bottom: var(--size-55);
}
.mb-60 {
  margin-bottom: var(--size-60);
}
.mb-65 {
  margin-bottom: var(--size-65);
}
.mb-70 {
  margin-bottom: var(--size-70);
}
.mb-75 {
  margin-bottom: var(--size-75);
}
.mb-80 {
  margin-bottom: var(--size-80);
}
.mb-85 {
  margin-bottom: var(--size-85);
}
.mb-90 {
  margin-bottom: var(--size-90);
}
.mb-95 {
  margin-bottom: var(--size-95);
}
.mb-100 {
  margin-bottom: var(--size-100);
}

.ml-05 {
  margin-left: var(--size-05);
}
.ml-10 {
  margin-left: var(--size-10);
}
.ml-15 {
  margin-left: var(--size-15);
}
.ml-20 {
  margin-left: var(--size-20);
}
.ml-25 {
  margin-left: var(--size-25);
}
.ml-30 {
  margin-left: var(--size-30);
}
.ml-35 {
  margin-left: var(--size-35);
}
.ml-40 {
  margin-left: var(--size-40);
}
.ml-45 {
  margin-left: var(--size-45);
}
.ml-50 {
  margin-left: var(--size-50);
}
.ml-55 {
  margin-left: var(--size-55);
}
.ml-60 {
  margin-left: var(--size-60);
}
.ml-65 {
  margin-left: var(--size-65);
}
.ml-70 {
  margin-left: var(--size-70);
}
.ml-75 {
  margin-left: var(--size-75);
}
.ml-80 {
  margin-left: var(--size-80);
}
.ml-85 {
  margin-left: var(--size-85);
}
.ml-90 {
  margin-left: var(--size-90);
}
.ml-95 {
  margin-left: var(--size-95);
}
.ml-100 {
  margin-left: var(--size-100);
}

.mr-05 {
  margin-right: var(--size-05);
}
.mr-10 {
  margin-right: var(--size-10);
}
.mr-15 {
  margin-right: var(--size-15);
}
.mr-20 {
  margin-right: var(--size-20);
}
.mr-25 {
  margin-right: var(--size-25);
}
.mr-30 {
  margin-right: var(--size-30);
}
.mr-35 {
  margin-right: var(--size-35);
}
.mr-40 {
  margin-right: var(--size-40);
}
.mr-45 {
  margin-right: var(--size-45);
}
.mr-50 {
  margin-right: var(--size-50);
}
.mr-55 {
  margin-right: var(--size-55);
}
.mr-60 {
  margin-right: var(--size-60);
}
.mr-65 {
  margin-right: var(--size-65);
}
.mr-70 {
  margin-right: var(--size-70);
}
.mr-75 {
  margin-right: var(--size-75);
}
.mr-80 {
  margin-right: var(--size-80);
}
.mr-85 {
  margin-right: var(--size-85);
}
.mr-90 {
  margin-right: var(--size-90);
}
.mr-95 {
  margin-right: var(--size-95);
}
.mr-100 {
  margin-right: var(--size-100);
}

.mx-05 {
  margin: 0 var(--size-05) 0 var(--size-05);
}
.mx-10 {
  margin: 0 var(--size-10) 0 var(--size-10);
}
.mx-15 {
  margin: 0 var(--size-15) 0 var(--size-15);
}
.mx-20 {
  margin: 0 var(--size-20) 0 var(--size-20);
}
.mx-25 {
  margin: 0 var(--size-25) 0 var(--size-25);
}
.mx-30 {
  margin: 0 var(--size-30) 0 var(--size-30);
}
.mx-35 {
  margin: 0 var(--size-35) 0 var(--size-35);
}
.mx-40 {
  margin: 0 var(--size-40) 0 var(--size-40);
}
.mx-45 {
  margin: 0 var(--size-45) 0 var(--size-45);
}
.mx-50 {
  margin: 0 var(--size-50) 0 var(--size-50);
}
.mx-55 {
  margin: 0 var(--size-55) 0 var(--size-55);
}
.mx-60 {
  margin: 0 var(--size-60) 0 var(--size-60);
}
.mx-65 {
  margin: 0 var(--size-65) 0 var(--size-65);
}
.mx-70 {
  margin: 0 var(--size-70) 0 var(--size-70);
}
.mx-75 {
  margin: 0 var(--size-75) 0 var(--size-75);
}
.mx-80 {
  margin: 0 var(--size-80) 0 var(--size-80);
}
.mx-85 {
  margin: 0 var(--size-85) 0 var(--size-85);
}
.mx-90 {
  margin: 0 var(--size-90) 0 var(--size-90);
}
.mx-95 {
  margin: 0 var(--size-95) 0 var(--size-95);
}
.mx-100 {
  margin: 0 var(--size-100) 0 var(--size-100);
}

.my-05 {
  margin: var(--size-05) 0 var(--size-05) 0;
}
.my-10 {
  margin: var(--size-10) 0 var(--size-10) 0;
}
.my-15 {
  margin: var(--size-15) 0 var(--size-15) 0;
}
.my-20 {
  margin: var(--size-20) 0 var(--size-20) 0;
}
.my-25 {
  margin: var(--size-25) 0 var(--size-25) 0;
}
.my-30 {
  margin: var(--size-30) 0 var(--size-30) 0;
}
.my-35 {
  margin: var(--size-35) 0 var(--size-35) 0;
}
.my-40 {
  margin: var(--size-40) 0 var(--size-40) 0;
}
.my-45 {
  margin: var(--size-45) 0 var(--size-45) 0;
}
.my-50 {
  margin: var(--size-50) 0 var(--size-50) 0;
}
.my-55 {
  margin: var(--size-55) 0 var(--size-55) 0;
}
.my-60 {
  margin: var(--size-60) 0 var(--size-60) 0;
}
.my-65 {
  margin: var(--size-65) 0 var(--size-65) 0;
}
.my-70 {
  margin: var(--size-70) 0 var(--size-70) 0;
}
.my-75 {
  margin: var(--size-75) 0 var(--size-75) 0;
}
.my-80 {
  margin: var(--size-80) 0 var(--size-80) 0;
}
.my-85 {
  margin: var(--size-85) 0 var(--size-85) 0;
}
.my-90 {
  margin: var(--size-90) 0 var(--size-90) 0;
}
.my-95 {
  margin: var(--size-95) 0 var(--size-95) 0;
}
.my-100 {
  margin: var(--size-100) 0 var(--size-100) 0;
}

/****************************************/
/* Paddings                             */
/****************************************/
.p-05 {
  padding: var(--size-05);
}
.p-10 {
  padding: var(--size-10);
}
.p-15 {
  padding: var(--size-15);
}
.p-20 {
  padding: var(--size-20);
}
.p-25 {
  padding: var(--size-25);
}
.p-30 {
  padding: var(--size-30);
}
.p-35 {
  padding: var(--size-35);
}
.p-40 {
  padding: var(--size-40);
}
.p-45 {
  padding: var(--size-45);
}
.p-50 {
  padding: var(--size-50);
}
.p-55 {
  padding: var(--size-55);
}
.p-60 {
  padding: var(--size-60);
}
.p-65 {
  padding: var(--size-65);
}
.p-70 {
  padding: var(--size-70);
}
.p-75 {
  padding: var(--size-75);
}
.p-80 {
  padding: var(--size-80);
}
.p-85 {
  padding: var(--size-85);
}
.p-90 {
  padding: var(--size-90);
}
.p-95 {
  padding: var(--size-95);
}
.p-100 {
  padding: var(--size-100);
}

.pt-05 {
  padding-top: var(--size-05);
}
.pt-10 {
  padding-top: var(--size-10);
}
.pt-15 {
  padding-top: var(--size-15);
}
.pt-20 {
  padding-top: var(--size-20);
}
.pt-25 {
  padding-top: var(--size-25);
}
.pt-30 {
  padding-top: var(--size-30);
}
.pt-35 {
  padding-top: var(--size-35);
}
.pt-40 {
  padding-top: var(--size-40);
}
.pt-45 {
  padding-top: var(--size-45);
}
.pt-50 {
  padding-top: var(--size-50);
}
.pt-55 {
  padding-top: var(--size-55);
}
.pt-60 {
  padding-top: var(--size-60);
}
.pt-65 {
  padding-top: var(--size-65);
}
.pt-70 {
  padding-top: var(--size-70);
}
.pt-75 {
  padding-top: var(--size-75);
}
.pt-80 {
  padding-top: var(--size-80);
}
.pt-85 {
  padding-top: var(--size-85);
}
.pt-90 {
  padding-top: var(--size-90);
}
.pt-95 {
  padding-top: var(--size-95);
}
.pt-100 {
  padding-top: var(--size-100);
}

.pb-05 {
  padding-bottom: var(--size-05);
}
.pb-10 {
  padding-bottom: var(--size-10);
}
.pb-15 {
  padding-bottom: var(--size-15);
}
.pb-20 {
  padding-bottom: var(--size-20);
}
.pb-25 {
  padding-bottom: var(--size-25);
}
.pb-30 {
  padding-bottom: var(--size-30);
}
.pb-35 {
  padding-bottom: var(--size-35);
}
.pb-40 {
  padding-bottom: var(--size-40);
}
.pb-45 {
  padding-bottom: var(--size-45);
}
.pb-50 {
  padding-bottom: var(--size-50);
}
.pb-55 {
  padding-bottom: var(--size-55);
}
.pb-60 {
  padding-bottom: var(--size-60);
}
.pb-65 {
  padding-bottom: var(--size-65);
}
.pb-70 {
  padding-bottom: var(--size-70);
}
.pb-75 {
  padding-bottom: var(--size-75);
}
.pb-80 {
  padding-bottom: var(--size-80);
}
.pb-85 {
  padding-bottom: var(--size-85);
}
.pb-90 {
  padding-bottom: var(--size-90);
}
.pb-95 {
  padding-bottom: var(--size-95);
}
.pb-100 {
  padding-bottom: var(--size-100);
}

.pl-05 {
  padding-left: var(--size-05);
}
.pl-10 {
  padding-left: var(--size-10);
}
.pl-15 {
  padding-left: var(--size-15);
}
.pl-20 {
  padding-left: var(--size-20);
}
.pl-25 {
  padding-left: var(--size-25);
}
.pl-30 {
  padding-left: var(--size-30);
}
.pl-35 {
  padding-left: var(--size-35);
}
.pl-40 {
  padding-left: var(--size-40);
}
.pl-45 {
  padding-left: var(--size-45);
}
.pl-50 {
  padding-left: var(--size-50);
}
.pl-55 {
  padding-left: var(--size-55);
}
.pl-60 {
  padding-left: var(--size-60);
}
.pl-65 {
  padding-left: var(--size-65);
}
.pl-70 {
  padding-left: var(--size-70);
}
.pl-75 {
  padding-left: var(--size-75);
}
.pl-80 {
  padding-left: var(--size-80);
}
.pl-85 {
  padding-left: var(--size-85);
}
.pl-90 {
  padding-left: var(--size-90);
}
.pl-95 {
  padding-left: var(--size-95);
}
.pl-100 {
  padding-left: var(--size-100);
}

.pr-05 {
  padding-right: var(--size-05);
}
.pr-10 {
  padding-right: var(--size-10);
}
.pr-15 {
  padding-right: var(--size-15);
}
.pr-20 {
  padding-right: var(--size-20);
}
.pr-25 {
  padding-right: var(--size-25);
}
.pr-30 {
  padding-right: var(--size-30);
}
.pr-35 {
  padding-right: var(--size-35);
}
.pr-40 {
  padding-right: var(--size-40);
}
.pr-45 {
  padding-right: var(--size-45);
}
.pr-50 {
  padding-right: var(--size-50);
}
.pr-55 {
  padding-right: var(--size-55);
}
.pr-60 {
  padding-right: var(--size-60);
}
.pr-65 {
  padding-right: var(--size-65);
}
.pr-70 {
  padding-right: var(--size-70);
}
.pr-75 {
  padding-right: var(--size-75);
}
.pr-80 {
  padding-right: var(--size-80);
}
.pr-85 {
  padding-right: var(--size-85);
}
.pr-90 {
  padding-right: var(--size-90);
}
.pr-95 {
  padding-right: var(--size-95);
}
.pr-100 {
  padding-right: var(--size-100);
}

.px-05 {
  padding: 0 var(--size-05) 0 var(--size-05);
}
.px-10 {
  padding: 0 var(--size-10) 0 var(--size-10);
}
.px-15 {
  padding: 0 var(--size-15) 0 var(--size-15);
}
.px-20 {
  padding: 0 var(--size-20) 0 var(--size-20);
}
.px-25 {
  padding: 0 var(--size-25) 0 var(--size-25);
}
.px-30 {
  padding: 0 var(--size-30) 0 var(--size-30);
}
.px-35 {
  padding: 0 var(--size-35) 0 var(--size-35);
}
.px-40 {
  padding: 0 var(--size-40) 0 var(--size-40);
}
.px-45 {
  padding: 0 var(--size-45) 0 var(--size-45);
}
.px-50 {
  padding: 0 var(--size-50) 0 var(--size-50);
}
.px-55 {
  padding: 0 var(--size-55) 0 var(--size-55);
}
.px-60 {
  padding: 0 var(--size-60) 0 var(--size-60);
}
.px-65 {
  padding: 0 var(--size-65) 0 var(--size-65);
}
.px-70 {
  padding: 0 var(--size-70) 0 var(--size-70);
}
.px-75 {
  padding: 0 var(--size-75) 0 var(--size-75);
}
.px-80 {
  padding: 0 var(--size-80) 0 var(--size-80);
}
.px-85 {
  padding: 0 var(--size-85) 0 var(--size-85);
}
.px-90 {
  padding: 0 var(--size-90) 0 var(--size-90);
}
.px-95 {
  padding: 0 var(--size-95) 0 var(--size-95);
}
.px-100 {
  padding: 0 var(--size-100) 0 var(--size-100);
}

.py-05 {
  padding: var(--size-05) 0 var(--size-05) 0;
}
.py-10 {
  padding: var(--size-10) 0 var(--size-10) 0;
}
.py-15 {
  padding: var(--size-15) 0 var(--size-15) 0;
}
.py-20 {
  padding: var(--size-20) 0 var(--size-20) 0;
}
.py-25 {
  padding: var(--size-25) 0 var(--size-25) 0;
}
.py-30 {
  padding: var(--size-30) 0 var(--size-30) 0;
}
.py-35 {
  padding: var(--size-35) 0 var(--size-35) 0;
}
.py-40 {
  padding: var(--size-40) 0 var(--size-40) 0;
}
.py-45 {
  padding: var(--size-45) 0 var(--size-45) 0;
}
.py-50 {
  padding: var(--size-50) 0 var(--size-50) 0;
}
.py-55 {
  padding: var(--size-55) 0 var(--size-55) 0;
}
.py-60 {
  padding: var(--size-60) 0 var(--size-60) 0;
}
.py-65 {
  padding: var(--size-65) 0 var(--size-65) 0;
}
.py-70 {
  padding: var(--size-70) 0 var(--size-70) 0;
}
.py-75 {
  padding: var(--size-75) 0 var(--size-75) 0;
}
.py-80 {
  padding: var(--size-80) 0 var(--size-80) 0;
}
.py-85 {
  padding: var(--size-85) 0 var(--size-85) 0;
}
.py-90 {
  padding: var(--size-90) 0 var(--size-90) 0;
}
.py-95 {
  padding: var(--size-95) 0 var(--size-95) 0;
}
.py-100 {
  padding: var(--size-100) 0 var(--size-100) 0;
}
