.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.subtitle,
.subtitle-variant,
.body,
.body-variant,
.caption,
.caption-variant,
.call-to-action-large,
.call-to-action-medium,
.call-to-action-small {
  color: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.call-to-action-large,
.call-to-action-medium,
.call-to-action-small {
  font-family: var(--font-family-for-heading);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.subtitle,
.subtitleVariant,
.body,
.bodyVariant,
.caption,
.captionVariant {
  font-family: var(--font-family-for-body);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

.h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

.h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

.h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

.h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

.h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

.h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
}

.subtitle {
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
}

.subtitleVariant {
  font-size: var(--font-size-subtitle-variant);
  line-height: var(--line-height-subtitle-variant);
}

.body {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.bodyVariant {
  font-size: var(--font-size-body-variant);
  line-height: var(--line-height-body-variant);
}

.caption {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
}

.caption-variant {
  font-size: var(--font-size-caption-variant);
  line-height: var(--line-height-caption-variant);
}

.call-to-action-large {
  font-size: var(--font-size-call-to-action-large);
  line-height: var(--line-height-call-to-action-large);
}

.call-to-action-medium {
  font-size: var(--font-size-call-to-action-medium);
  line-height: var(--line-height-call-to-action-medium);
}

.call-to-action-small {
  font-size: var(--font-size-call-to-action-small);
  line-height: var(--line-height-call-to-action-small);
}
